body
{
	background-color: #f6f5f5;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

section {


	height: 65vh;
	background-image: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
/* Estilo navegador */
nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0 5%;
}

nav ul
{
	display: flex;
}

nav ul li a
{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}

.logo
{
	font-family: Arial;
	color: red;
	font-size: 22px;
}

.active
{
	font-weight: bold;
	color: #2d2a2a;
}


/* Estilo Imagem banner sem fundo */

.imgbg
{
	height: 490px;
	position: absolute;
	bottom: 40px;
	left: 67%;
	transform: translateX(-70%);

}
.cor{
	background-color: lightgrey;
}


.conteudo-sobre
{
	font-family: "calibri";
	width: 100%;
	height:350px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 10px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
	
}

/* Estilo Imagem Sobre eu */
.conteudo-sobre img
{
	height: 250px;

}

.texto-sobre
{	height: auto;
	width: 80%;
}

.texto-sobre  p:nth-child(1)
{
	color: #403e3e;
	font-family: "calibri ";
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
	text-align: center;

}

.texto-sobre  p:nth-child(2)
{
	color: #3e3e3e;
	font-size: 13px;
	font-family: "calibri ";
	font-weight: bold;

}


.texto-sobre button
{
	width: 120px;
	height: 40px;
	color: #ffffff;
	outline: none;
	border:none;
	font-family: calibri;
	background-color: #262525;
}

footer
{

	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

footer p
{
	font-family: "Roboto Thin";
}

footer p:nth-child(1)
{
	font-weight: bold;
	color: #191919;
	line-height: 10px;
	font-size: 30px;
	font-family: "Roboto Thin";
}

footer p:nth-child(2)
{
	font-size: 16px;
	color: #7e7d7d;
	font-family: "Roboto Thin";
	text-align: center;
}

.contato
{

	height: 280px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contato p
{
	color: black;
	font-size: 30px;
	font-family: "calibri";
	font-weight: bold;
	border-bottom: 2px solid #ffffff;
}

.contato button
{
	width: 200px;
	height: 40px;
	background-color: #ffffff;
	outline: none;
	border:none;
	font-size: 14px;
	font-family: "Roboto Medium";
	font-weight: bold;
}

.servicos-textos {
	background-color: #ddfaff;
}

.front, .back, .frame{
	float: left;
}

#habilidades h1{
	color: black;
	font-family: "Arial Black";
	font-size: 30px;
}
#habilidades p{
	font-size: 20px;
}

.cor2{
	background-color: slategrey;
}
#projetos p {
	font-family: "calibri";
	font-size: 16px;
	color: #191919;
}
#projetos h1 {
	font-family: "Arial Black";
	font-size: 30px;

}

hr{
	border: 0;
	border-top: 1px solid black;
}
